<!-- breadcrumbs -->
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/Learn">Learn</a> <span class="divider">/</span>
    </li>
    <li class="active" data-bind="text: asset().Title">[Title]</li>
</ul>

<div class="row-fluid">
    <div class="span9">
        <!-- Asset detail -->
        <h1 data-bind="text: asset().Title">Title</h1>
        <small>Original Contributor: <a data-bind="attr: { href: '/ViewProfile/' + asset().Contributor.Guid }, text: asset().Contributor.Username">[Contributor Username]</a></small>

        <br /><br />
        
        <!-- Primary description -->
        <div data-bind="text: asset().Description">[Description]</div>

        <hr />

        <!-- Associated subjects -->
        <h3>Associated Subjects</h3>
        <div data-bind="foreach: subjects">
            <a href="#" data-bind="text: Title + ' (' + Hashtag + ')'"></a>&nbsp;
        </div>
        <!-- ko if: (subjects == null || subjects().length <= 0) -->
        <i>None specified</i>
        <!-- /ko -->

        <hr />

        <!-- Asset comments -->
        <h3><span data-bind="text: comments().length">[Number of comments]</span> Comments</h3>

        <!-- Add new comment -->
        <p><a href="#" data-toggle="modal" data-target="#addCommentPopup">Add comment</a></p>

        <!-- List comments -->
        <div data-bind="foreach: comments">
            <div class="row-fluid">
                <div class="span1">
                    <img data-bind="attr: { src: Contributor.PictureUri, alt: Contributor.Username }" />
                </div>
                <div class="span11">
                    <p data-bind="text: Text">[Comment Text]</p>
                    <small data-bind="text: Contributor.Username + ' | ' + Created"></small>
                </div>
            </div>
            <hr />
        </div>

        <!-- List history of activities -->
        <h3>History</h3>
        <div data-bind="foreach: activities">
            <div class="row-fluid">
                <div class="span1">
                    <!-- ko if: User != null -->
                    <img data-bind="attr: { src: User.PictureUri, alt: User.Username }" />
                    <!-- /ko -->
                </div>
                <div class="span11">
                    <p data-bind="text: Value"></p>
                    <small data-bind="text: Created"></small>
                </div>
            </div>
        </div>
        <!-- ko if: (activities == null || activities().length <= 0) -->
        <i>None captured</i>
        <!-- /ko -->
    </div>

    <div class="span3" style="text-align: center;">
        <!-- Edit -->
        <div style="margin-bottom: 15px;">
            <a href="#" class="btn" data-bind="click: edit">Contribute More Info</a>
            <a href="#" class="btn btn-success" data-bind="click: complete">Mark Complete</a>
        </div>

        <a data-bind="attr: { href: asset().Uri }"><img data-bind="attr: { src: asset().PictureUri, alt: asset().Title }" /></a><br /><br />
        <p class="resourceUrl">
            Access this resource here:
            <a data-bind="attr: { href: asset().Uri }, text: asset().Uri" target="_blank">[Uri of Asset]</a>
        </p>

        <div style="text-align: left;">
            <span>Importance</span>
            <div class="progress progress-striped">
                <div class="bar" data-bind="attr: { style: 'width: ' + asset().ImportanceAsPercent + '%' }"></div>
            </div>

            <span>Difficulty</span>
            <div class="progress progress-striped">
                <div class="bar" data-bind="attr: { style: 'width: ' + asset().DifficultyAsPercent + '%' }"></div>
            </div>

            <p>1,024 students have completed this resource</p>
        </div>
    </div>
</div>

<!-- Add comment modal popup -->
<div id="addCommentPopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Add Comment</h3>
    </div>
    <div class="modal-body">
        <form id="addCommentForm" name="addCommentForm" data-bind="submit: addComment">
            <textarea id="comment" style="width: 95%; height: 150px;" data-bind="value: comment"></textarea><br />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btn-primary" form="addCommentForm">Comment</button>

        <span id="message" class="simplemsg" style="float: left;">[Information about adding a comment]</span>
    </div>
</div>

<!-- Complete a resource -->
<div class="modal hide fade" id="completePopup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Complete Resource</h3>
    </div>
    <div class="modal-body">
        <form id="completeForm" name="completeForm" class="well form-vertical" data-bind="submit: completeUpdate">
            <fieldset>
                <legend>Way to go! You can fill out as much as you like</legend>

                <span>Difficulty</span>
                <div class="control-group">
                    <div class="controls">
                        <select data-bind="value: difficulty">
                            <option value="0">Select Difficulty</option>
                            <option value="1">Entry Level</option>
                            <option value="2">Easy</option>
                            <option value="3">Medium</option>
                            <option value="4">Hard</option>
                            <option value="5">Expert</option>
                        </select>
                    </div>
                </div>

                <div class="progress progress-striped">
                    <div class="bar" data-bind="attr: { style: 'width: ' + difficultyAsPercent + '%' }"></div>
                </div>

                <span>Importance</span>
                <div class="control-group">
                    <div class="controls">
                        <select data-bind="value: importance">
                            <option value="0">Select Importance</option>
                            <option value="1">Irrelevant</option>
                            <option value="2">Low</option>
                            <option value="3">Medium</option>
                            <option value="4">High</option>
                            <option value="5">Critical</option>
                        </select>
                    </div>
                </div>

                <div class="progress progress-striped">
                    <div class="bar" data-bind="attr: { style: 'width: ' + importanceAsPercent + '%' }"></div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button type="submit" href="#" class="btn btn-primary" form="completeForm">Save changes</button>

        <span id="completeMessage" class="simplemsg" style="float: left;">[Information about completing an educational resource]</span>
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var id = '@ViewContext.RouteData.Values["id"]';
        var vm = new LearnDetailViewModel(id);

        // apply knockout bindings
        ko.applyBindings(vm, $('#mainContent')[0]);
    });
</script>
}