<!-- breadcrumbs -->
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/Learn">Learn</a> <span class="divider">/</span>
    </li>
    <li class="active" data-bind="text: Title">[Title]</li>
</ul>

<div class="row-fluid">
    <div class="span9">
        <!-- Asset detail -->
        <h1><a data-bind="text: Title">Title</a></h1>
        <small data-bind="text: Contributor.FullName + ', ' + Contributor.Title">[Contributor Name], [Contributor Title]</small><br /><br />
        <div data-bind="text: Description">[Description]</div>

        <hr />

        <!-- Asset comments -->
        <h3><span data-bind="text: comments().length">[Number of comments]</span> Comments</h3>

        <div data-bind="foreach: comments">
            <div class="row-fluid">
                <div class="span1">
                    <img data-bind="attr: { src: Contributor.PictureUri, alt: Contributor.FullName }" />
                </div>
                <div class="span11">
                    <p data-bind="text: Text">[Comment Text]</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="span3" style="text-align: center;">
        <a data-bind="attr: { href: Uri }"><img data-bind="attr: { src: PictureUri, alt: Title }" /></a><br /><br />
        <p class="resourceUrl">
            Access this resource here:
            <a data-bind="attr: { href: Uri, text: Uri }">[Uri of Asset]</a>
        </p>

        <div style="text-align: left;">
            <span>Importance</span>
            <div class="progress progress-striped">
                <div class="bar" style="width: 75%;"></div>
            </div>

            <span>Difficulty</span>
            <div class="progress progress-striped">
                <div class="bar" style="width: 50%;"></div>
            </div>

            <p>1,024 students have completed this resource</p>
        </div>
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var vm = new LearnDetailViewModel();

        // apply knockout bindings
        ko.applyBindings(vm);
    });
</script>
}