<!-- breadcrumbs -->
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">Learn</li>
</ul>

<div class="row-fluid">
    <div class="span3">
        <!-- search subjects -->
        <form id="subjectSearchForm" class="well form-search" data-bind="submit: searchSubjects">
            <div class="controls">
                <div class="input-append" style="width: 100%;">
                    <input type="text" placeholder="search subjects" style="width: 75%;" data-bind="value: subjectSearchTerm"><button class="btn" type="submit"><i class="icon-wrench"></i></button>
                </div>
            </div>
        </form>

        <!-- instructions -->
        <p class="instructions" data-bind="visible: !hasSearchedSubjectsAlready()">You can search educational resources by subject or hashtag simply by entering a search term above.</p>

        <!-- subject results -->
        <div id="subjectResults">
            <ul data-bind="foreach: subjects">
                <li><a href="#" data-bind="click: $parent.searchAssetsBySubject, text: Hashtag">[Hashtag]</a></li>
            </ul>
        </div>
    </div>

    <div class="span9">
        <!-- notifications -->
        <div class="alert alert-block" style="display: none;">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Warning!</h4>
            Best check yo self, you're not done yet...
        </div>

        <!-- search assets -->
        <form id="assetSearchForm" class="well form-search" data-bind="submit: searchAssets">
            <div class="controls">
                <div class="input-append" style="width: 100%;">
                    <input type="text" placeholder="search assets" style="width: 90%;" data-bind="value: assetSearchTerm"><button class="btn" type="submit"><i class="icon-wrench"></i></button>
                </div>
            </div>
        </form>

        <!-- instructions -->
        <p class="instructions" data-bind="visible: !hasSearchedAlready()">You can search educational resources by by entering a search term above.  Searches are matched by hashtag, title, description, and many other searchable fields.</p>

        <!-- asset results -->
        <div id="resourceResults">
            <div class="container-fluid" data-bind="foreach: assets">
                <!-- begin asset -->
                <div class="row-fluid">
                    <!-- image -->
                    <div class="span2">
                        <a data-bind="attr: { href: '/Learn/Detail/' + Id }"><img width="125" data-bind="attr: { src: PictureUri, alt: Title }" /></a>
                    </div>

                    <!-- description -->
                    <div class="span6">
                        <i class="icon-book"></i>
                        <strong><a data-bind="attr: { href: '/Learn/Detail/' + Id }, text: Title">[Title]</a></strong><br />
                        <small data-bind="text: Contributor.FullName + ', ' + Contributor.Title">[Contributor.FullName, Contributor.Title]</small><br /><br />
                        <div data-bind="text: Description"></div>
                    </div>

                    <!-- stats -->
                    <div class="span3">
                        <span style="width: 100px;">Importance</span>
                        <div class="progress progress-striped">
                            <div class="bar" data-bind="attr: { style: 'width: ' + ImportanceAsPercent + '%' }"></div>
                        </div>

                        <span>Difficulty</span>
                        <div class="progress progress-striped">
                            <div class="bar" data-bind="attr: { style: 'width: ' + DifficultyAsPercent + '%' }"></div>
                        </div>

                        <p>1,024 students have completed this resource (<a href="#">34 comments</a>)</p>
                    </div>
                </div>

                <hr />
                <!-- end asset -->

            </div>
        </div>
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var vm = new LearnIndexViewModel();

        // apply knockout bindings
        ko.applyBindings(vm, $('#mainContent')[0]);
    });
</script>
}