<!-- breadcrumbs -->
<ul class="breadcrumb">
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">Learn</li>
</ul>

<div class="row-fluid">
    <div class="span3">
        <!-- search subjects -->
        <form id="subjectSearchForm" class="well form-search">
            <div class="controls">
                <div class="input-append" style="width: 100%;">
                    <input type="text" placeholder="search subjects" style="width: 75%;" data-bind="value: subjectSearchTerm"><button class="btn" type="button" data-bind="click: searchSubjects"><i class="icon-wrench"></i></button>
                </div>
            </div>
        </form>

        <!-- subject results -->
        <div id="subjectResults">
            <ul>
                <li><a href="#">Math</a></li>
                <li><a href="#">Science</a>
                    <ul>
                        <li><a href="#">Computer Science</a>
                            <ul>
                                <li><a href="#">Programming</a>
                                    <ul>
                                        <li><a href="#">C#</a></li>
                                        <li><a href="#">Ruby on Rails</a></li>
                                        <li><a href="#">Java</a></li>
                                        <li><a href="#">Python</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Biotechnology</a></li>
                        <li><a href="#">Biology</a></li>
                    </ul>
                </li> 
                <li><a href="#">Pottery</a></li>               
                <li><a href="#">Gardening</a></li>        
                <li><a href="#">Cooking</a></li>       
            </ul>
        </div>
    </div>

    <div class="span9">
        <!-- notifications -->
        <div class="alert alert-block" style="display: none;">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Warning!</h4>
            Best check yo self, you're not done yet...
        </div>

        <!-- search assets -->
        <form id="assetSearchForm" class="well form-search">
            <div class="controls">
                <div class="input-append" style="width: 100%;">
                    <input type="text" placeholder="search assets" style="width: 90%;" data-bind="value: assetSearchTerm"><button class="btn" type="button" data-bind="click: searchAssets"><i class="icon-wrench"></i></button>
                </div>
            </div>
        </form>

        <!-- asset results -->
        <div id="resourceResults">
            <div class="container-fluid" data-bind="foreach: assets">
                <!-- begin asset -->
                <div class="row-fluid">
                    <!-- image -->
                    <div class="span2">
                        <a data-bind="attr: { href: '/Learn/Detail/' + Id }"><img width="125" data-bind="attr: { src: PictureUri, alt: Title }" /></a>
                    </div>

                    <!-- description -->
                    <div class="span6">
                        <i class="icon-book"></i>
                        <strong><a data-bind="attr: { href: '/Learn/Detail/' + Id }, text: Title">[Title]</a></strong><br />
                        <small data-bind="text: Contributor.FullName + ', ' + Contributor.Title">[Contributor.FullName, Contributor.Title]</small><br /><br />
                        <div data-bind="text: Description"></div>
                    </div>

                    <!-- stats -->
                    <div class="span3">
                        <span style="width: 100px;">Importance</span>
                        <div class="progress progress-striped">
                            <div class="bar" style="width: 75%;"></div>
                        </div>

                        <span>Difficulty</span>
                        <div class="progress progress-striped">
                            <div class="bar" style="width: 50%;"></div>
                        </div>

                        <p>1,024 students have completed this resource (<a href="#">34 comments</a>)</p>
                    </div>
                </div>

                <hr />
                <!-- end asset -->

            </div>
        </div>
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var vm = new LearnIndexViewModel();

        // apply knockout bindings
        ko.applyBindings(vm);
    });
</script>
}