<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Smarts</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <script type="text/javascript" src="../../Scripts/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="../../Scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="../../Scripts/knockout-2.1.0.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
