<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Smarts</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <!-- CSS -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/Content/smarts.css" />
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container layoutBindings">
                        <img src="/Content/images/logo-small-white.png" /> 
                        <a href="/" class="company">Smarts</a>

                        <a href="/Home/Enroll" class="btn btn-success pull-right" data-bind="visible: !isLoggedIn()"><i class="icon-star icon-white"></i></a>
                        <button class="btn btn-primary pull-right" style="margin-left: 3px;" data-toggle="modal" data-target="#account" data-bind="click: getUser, visible: isLoggedIn"><i class="icon-user icon-white"></i></button>
                        <button class="btn btn-primary pull-right" style="margin-left: 3px;" data-toggle="modal" data-target="#add" data-bind="visible: isLoggedIn"><i class="icon-plus icon-white"></i></button>
                        <span class="login-name pull-right" data-bind="text: 'logged in as: ' + username(), visible: isLoggedIn">[logged in as: username]</span>
                    </div>
                </div>
            </div>
        </header>

        <!-- Container content -->
        <div id="mainContent" class="container-fluid">
            @RenderBody()
        </div>

        <!-- In-view popup content -->
        <div class="layoutBindings">

            <!-- Add a new resource -->
            <div class="modal hide fade" id="add">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Add New Resource</h3>
                </div>
                <div class="modal-body">
                    <form id="addForm" name="addForm" class="well form-vertical" data-bind="submit: addResource">
                        <fieldset>
                            <legend>Please enter the basics</legend>

                            <div class="control-group">
                                <div class="controls">
                                    <select id="assetType" name="assetType" class="required" 
                                        data-bind="options: assetTypes, 
                                            optionsCaption: 'Type', 
                                            optionsText: 'Name', 
                                            optionsValue: 'Id', 
                                            value: assetTypeId">
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="title" name="title" class="required" data-bind="value: title" placeholder="Title" />
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="uri" name="uri" class="required url" data-bind="value: uri" placeholder="Url" />
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <textarea id="description" name="description" data-bind="value: description" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    
                        <a href="#" data-bind="click: showAdvancedAdd">Advanced</a>

                        <div id="advancedAdd" style="display: none;" data-bind="visible: isAdvancedAdd">
                            <fieldset>
                                <legend>Tag this resource with subject(s)</legend>

                                <div class="control-group">
                                    <label class="control-label" for="subject">Subject</label>
                                    <div class="controls">
                                        <div class="input-append" style="width: 100%;">
                                            <input type="text" id="subject" name="subject" data-bind="value: subject" form="addSubjectForm" style="width: 75%;"><button class="btn" type="submit" form="addSubjectForm">Add</button>
                                        </div>
                                    </div>
                                </div>

                                <ul data-bind="foreach: taggedSubjects">
                                    <li><span data-bind="text: Hashtag">[Hashtag]</span> <a href="#" data-bind="click: $parent.removeSubject">(remove)</a></li>
                                </ul>
                            </fieldset>

                            <fieldset>
                                <legend>You can also add specific information</legend>

                                <div class="control-group">
                                    <label class="control-label" for="pictureUri">Picture</label>
                                    <div class="controls">
                                        <input type="text" id="pictureUri" name="pictureUri" class="input-small" data-bind="value: pictureUri">
                                    </div>
                                </div>

                                <hr />

                                <div class="control-group">
                                    <label class="control-label" for="isTestRequired">Is a test required to complete this resource?</label>
                                    <div class="controls">
                                        <label class="checkbox"><input type="checkbox" id="isTestRequired" name="isTestRequired" data-bind="checked: isTestRequired" /> Yes, a test is required.</label>
                                    </div>
                                </div>

                                <hr />

                                <div class="control-group">
                                    <label class="control-label" for="isScoreable">Can you receive a score for this resource?</label>
                                    <div class="controls">
                                        <label class="checkbox"><input type="checkbox" id="isScoreable" name="isScoreable" data-bind="checked: isScoreable" /> Yes, you can receive a score for this resource.</label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="passingScore">Minimum Passing Score</label>
                                    <div class="controls">
                                        <input type="text" id="passingScore" name="passingScore" class="input-small" data-bind="value: passingScore">
                                    </div>
                                </div>

                                <hr />

                                <div class="control-group">
                                    <label class="control-label" for="isCost">Does this resource cost money?</label>
                                    <div class="controls">
                                        <label class="checkbox"><input type="checkbox" id="isCost" name="isCost" data-bind="checked: isCost" /> Yes, this resource costs money.</label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="cost">Cost in USD</label>
                                    <div class="controls">
                                        <input type="text" id="cost" name="cost" class="input-small" data-bind="value: cost">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                    <form id="addSubjectForm" data-bind="submit: tagSubject">
                        <!-- components are within addForm above -->
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <button type="submit" href="#" class="btn btn-primary" form="addForm">Save changes</button>

                    <span id="addMessage" class="simplemsg" style="float: left;">[Information about adding an educational resource]</span>
                </div>
            </div>

            <!-- My account -->
            <div class="modal hide fade" id="account">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 data-bind="text: user().FullName">[Full Name]</h3>
                </div>
                <div class="modal-body">
                    <img data-bind="attr: { src: user().PictureUri, alt: user().FullName }" class="pull-right" />
                
                    <div class="account-stats">
                        <label>Member Since</label><span data-bind="text: user().MemberSince">[MemberSince]</span>
                        <label>Smarts Score</label><span class="score-small" data-bind="text: user().Score">[Score]</span>
                        <label>Contributed</label>
                        <span>
                            <span class="stat-number" data-bind="text: user().AssetsAddedCount">[AssetsAddedCount]</span> educational resources added<br /> 
                            <span class="stat-number" data-bind="text: user().VotesCastCount">[VotesCastCount]</span> votes cast<br />
                            <span class="stat-number" data-bind="text: user().VotesReceivedCount">[VotesReceivedCount]</span> votes by other people</span>
                    </div>

                    <div>
                        <label>Subjects you're recently active on</label>
                        <a href="#">Computer Science</a> |
                        <a href="#">Entrpreneurship</a> |
                        <a href="#">C#</a> |
                        <a href="#">Programming</a> |
                        <a href="#">Teaching</a>
                    </div>

                    <div class="links">
                        <a href="/Home/Profile">Edit profile</a><br />
                        <a href="/Home/Profile/#password">Change password</a><br />
                        <a href="/Home/Profile/#notifications">Manage notifications</a><br />
                        <a href="#" data-bind="click: logout">Logout</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>

                    <span id="accountMessage" class="simplemsg" style="float: left;">[Information about your account]</span>
                </div>
            </div>

            <!-- Enroll for free -->
            <div class="modal hide fade" id="enroll">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Enroll for Free</h3>
                </div>
                <div class="modal-body">
                    <h4>You haven't enrolled yet!</h4>
                    <p>We make sure you are free to use the site as much as you like even without enrolling, however, enrollment provides the following great features and is also <strong>completely free</strong>!</p>
                    <ul class="benefits">
                        <li>Track progress through your <a href="#">Smarts Score</a> and show your expertise in subjects</li>
                        <li>Automatically save your history and see which educational resources you've already visited and completed</li>
                        <li>Contribute to the community by adding great educational resources you've discovered</li>
                        <li><span class="important">Optionally</span>, allow companies to interview and potentially hire you</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <a href="/Home/Enroll" class="btn btn-primary">Enroll</a><br />
                    <label for="stopNaggingToEnroll" class="pull-left"><input type="checkbox" id="stopNaggingToEnroll" name="stopNaggingToEnroll" /> Stop nagging me to enroll, I will when I feel like it</label>
                </div>
            </div>
        </div>

        <footer></footer>        

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Scripts/smarts.js"></script>

        <script type="text/javascript">
            $(function () {
                // create viewmodel
                var layoutVM = new LayoutViewModel();

                // apply knockout bindings specifically to the first instance of layout bindings
                // if we add additional areas for knockout binding in the layout we will need to iterate through the array
                // this is to support multi-viewmodels from child pages.
                ko.applyBindings(layoutVM, $('.layoutBindings')[0]);
                ko.applyBindings(layoutVM, $('.layoutBindings')[1]);
            });
        </script>

        @RenderSection("PageScript")

    </body>
</html>
