<div class="row-fluid">
    <div class="span4">
        <form id="enrollForm" class="well" novalidate="novalidate">
            <fieldset>
                <legend>Login Info</legend>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="username" name="username" class="required" placeholder="Username">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="password" id="pw" name="pw" class="required" placeholder="Password">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="password" id="pwConfirm" name="pwConfirm" class="required" placeholder="Confirm Password">
                    </div>
                </div>
            </fieldset>
        
            <fieldset>
                <legend>Bio</legend>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="firstName" name="firstName" class="required" placeholder="First Name">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="lastName" name="lastName" class="required" placeholder="Last Name">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="country" name="country" placeholder="Country">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="state" name="state" placeholder="State">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="city" name="city" placeholder="City">
                    </div>
                </div>
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button class="btn">Cancel</button>
            </div>
        </form>
    </div>

    <div class="span8">
        <h1>Enroll for Free Today</h1>
        <p>We make sure you are free to use the site as much as you like even without enrolling, however, enrollment provides the following great features and is also completely free!</p>
        <ul class="benefits">
            <li>Track progress through your <a href="#">Smarts Score</a> and show your expertise in subjects</li>
            <li>Automatically save your history and see which educational resources you've already visited and completed</li>
            <li>Contribute to the community by adding great educational resources you've discovered</li>
            <li><span class="important">Optionally</span>, allow companies to interview and potentially hire you</li>
        </ul>

        <h2>We Want to Help!</h2>
        <p>More than anything else, we're trying to help people from all over the world learn faster and more completely by spending their time on the <strong>best</strong> educational resources, wherever they may come from.</p>
        <p>If you like what we're doing or having suggestions for improving, let us know by <a href="#">signing the wall</a>. Also, if you would like to see what we're working on view our <a href="#" target="_blank">Trello board</a> and vote or recommend new features.</p>
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var vm = new HomeEnrollViewModel();

        // apply knockout bindings
        ko.applyBindings(vm);
    });
</script>
}