<div class="row-fluid">
    <div class="span5">
        <h1>How it Works</h1>
        <p>Smarts is <strong>dynamic</strong> and <strong>community driven</strong>.  Resources, whether online or offline, are contributed and <strong>rated by students, staff, and experts</strong> to provide ranking of the most effective learning material for a given subject.</p>
        <p>Resources are also tagged by subject and recommended order which builds <strong>structured courses and curriculum</strong>.</p>
        <p>A Smarts Score is generated based on completion of the educational resources.  This score can <strong>optionally</strong> be made public to the community or to companies attempting to <strong>hire experts</strong> on specific subjects.</p>
        <p><a href="/Home/HowItWorksDetails/">Read more about the details</a></p>
        
        <div class="featured">
            <h4>Featured Videos</h4>
            <ul class="video-list">
                <li><a href="#">Watch overview</a></li>
                <li><a href="#">How using smarts could help you build a career</a></li>
                <li><a href="#">Student testimonials</a></li>
            </ul>
        </div>
    </div>

    <div class="span7" style="text-align: center;">
        <iframe class="video" width="560" height="315" src="http://www.youtube.com/embed/M-Y-R2CC_LE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<br /><br />

<div class="row-fluid">
    <div class="span4">
        <fieldset>
            <legend>For Students</legend>
            <ul class="video-list">
                <li><a href="#">Watch overview</a></li>
                <li><a href="#">Student testimonials</a></li>
                <li><a href="#">A deep dive into the Smarts Score</a></li>
                <li><a href="#">How to search for resources</a></li>
                <li><a href="#">How to contribute resources</a></li>
                <li><a href="#">How to rate resources</a></li>
                <li><a href="#">How to take tests</a></li>
            </ul>
        </fieldset>
    </div>

    <div class="span4">
        <fieldset>
            <legend>For Content Contributors</legend>
            <ul class="video-list">
                <li><a href="#">We love you</a></li>
                <li><a href="#">How to contribute resources</a></li>
                <li><a href="#">How to submit paid resources</a></li>
                <li><a href="#">Why we don't advertise online</a></li>
            </ul>
        </fieldset>
    </div>

    <div class="span4">
        <fieldset>
            <legend>For Companies</legend>
            <ul class="video-list">
                <li><a href="#">We love you too</a></li>
                <li><a href="#">How to find top experts to hire</a></li>
                <li><a href="#">What costs are involved</a></li>
                <li><a href="#">Providing feedback after the hire</a></li>
                <li><a href="#">How we verify Smarts Scores</a></li>
            </ul>
        </fieldset>
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var vm = new HomeHowItWorksViewModel();

        // apply knockout bindings
        ko.applyBindings(vm);
    });
</script>
}