<style type="text/css">
    /* hide background displayed on detail pages */
    body {
        background: none;
    }

    /* hide top level buttons */
    .navbar button.btn, .navbar a, .navbar a.btn, .navbar img {
        display: none;
    }

    /* space the content down a bit */
    .navbar {
        margin-bottom: 50px;
    }
</style>

<div class="row-fluid">
    <div class="span4">
        <img src="../../Content/images/logo2.png" />
    </div>

    <div class="span8">
        <div class="hero-unit">
            <h1>Discover. Organize. Learn.</h1>
            <p>Find out what the <strong>best educational resources</strong> <i>really</i> are. Amidst the videos, books, articles, and tests - Smarts brings it all together to build <strong>structured courses</strong> amongst the madness for people <strong>serious about learning</strong>.</p>
            <p>
                <a href="/Learn/">Start Learning</a> |
                <a href="/Home/HowItWorks">See How it Works</a> |
                <a href="#" data-bind="click: showLoginPanel">Login</a>
            </p>

            <div data-bind="visible: isLoginPanelVisible">
                <form class="form" data-bind="submit: login">
                <fieldset>
                <legend>Login</legend>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="email" name="email" class="required" data-bind="value: email" placeholder="Username or email address" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="password" id="password" name="password" class="required" data-bind="value: password" placeholder="Password" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    <span id="message" class="simplemsg">[Information about adding an educational resource]</span>
                </fieldset>
                </form>
            </div>
        </div>

        
    </div>
</div>

@section PageScript {
<script type="text/javascript">
    $(function () {
        // create viewmodel
        var vm = new HomeIndexViewModel();

        // apply knockout bindings
        ko.applyBindings(vm, $('#mainContent')[0]);
    });
</script>
}